body, html {
    padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
    position: relative;
}

.logo {
    padding: 30px 0 0 10px;
    height: 80px;
    margin: 0 5% 0 5%; 
}

main {
	margin: 0 10% 0 10%;
}

.notification {
    text-align: center;
    background-color: #014a62;
    color: #ffffff;
}

.flex-container-3 {
    background-color: #014a62;
    padding: 10px 0 10px 0;
}

h3 {
    margin: auto;
    padding: 10px 0 10px 0;
}

.greetings {
    padding: 10px 0 0 0;
    margin-left: 10%;
}

.main-text{
    margin: 5%;
}

.order-detail {
    border-collapse: collapse;
    padding: 20px 0 10px 0;
    margin: 0 10% 0 10%;
    overflow-x: auto;
}

.order-detail td {
    padding: 8px;
    text-align: left;
    font-size: 20px solid black;
}

.contact-us {
    background-color: #f7f8f9;
    text-align: right;
    padding: 30px 0 30px 0;
}

.contact-us p{
    color: #a9a8a8;
    padding-right: 5%;
}


footer {
    background-color: #e2e2e2;
    text-align: center;
    padding: 30px 0 30px 0; 
    width: 100%;
}

.footer-logo {
    padding-bottom: 30px;
    height: 65px;
}

.text-footer{
    border-spacing: 100px;
    color: #6f6f6f;
}

.social-icon {
    padding: 0 30px 0 30px;
    height: 20px;
}